// Fonts
$font-stack-body: 'Source Sans Pro', sans-serif;
// Logo and Tweet btn
$fontLogo: 'Bungee', cursive, sans-serif;

// Background Colours for body and main 
$colourBackground: #f4f1ec;
// "Brand" Color for nav, header, btns
$colourBrand: #4056A1;
// Hover Colour for New Tweet Btn, like/retweet btns
$colourHover: #0076ad;
// Tweet border 
$colourTweetBorder: #312f2f;
// Shadow Colours for box-shadow, text-shadow
$colourShadow: rgba(0, 0, 255, 0.2); 
