/* <section> and <article> parent containers */

#tweet-container {
  width: 90%;
  margin: 2em 0; 
  padding: 1em;
  overflow: scroll;
}

article.tweet {
  border: 4px solid #312f2f;
  padding: 0.5em;
  font-size: 1.1em;
  overflow: scroll;
}

/* tweet header */

article.tweet header {
  height: 2.5em;
}

article.tweet header > span {
  display: none;
}

article.tweet header, 
article.tweet footer {
  display: flex;
  justify-content: space-between;
}

header > figure, 
header > span, 
figcaption,
.like-retweet-flag {
  display: flex;
  margin: 0;
  align-items: center;
}

article.tweet img,
article.tweet figcaption {
  margin: 3px;
}

article.tweet img {
  width: 2em;
  height: 2em;
}

/* tweet <p> */

.tweet-body {
  padding: 0.75em;
  padding-bottom: 1.25em;
  border-bottom: 4px solid #312f2f;
  margin-bottom: 0.05em;
}

/* tweet footer */

article.tweet footer {
  font-size: 0.8em;
}

.like-retweet-flag button {
  color: #4056A1;
  border: 0;
  cursor: pointer;
}

.like-retweet-flag i {
  width: 1em;
  height: 1em;
}

/* Hover states */

.like-retweet-flag button:hover,
.like-retweet-flag button:focus {
  color: #0076ad;
}


.tweet:hover {
  box-shadow: 6px 3px 2px #0000ff33;
  text-shadow: 1px 1px 2px #0000ff33
}

.tweet:hover span {
  display: flex;
  color: #0000ff33;
}

